@charset "UTF-8";

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
	font-size:100%
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
audio, canvas, video {
	display:inline-block;
*display:inline;
*zoom:1
}
audio:not([controls]) {
	display:none
}
html {
	font-size:100%;
	line-height:24px;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
body {
	position:relative;
	-webkit-text-size-adjust:100%
}
p {
	font-size:12px;
	margin-bottom:15px!important;
	line-height:24px
}
strong {
	color:#222;
	font-weight:600!important
}
p.margin-20 {
	margin-bottom:20px!important
}
p.margin-30 {
	margin-bottom:30px!important
}
p.margin-40 {
	margin-bottom:40px!important
}
ol strong.alt, p strong.alt, ul strong.alt {
	color:#21c2f8
}
sub, sup {
	position:relative;
	line-height:0
}
.video-wrap, a {
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	-ms-transition:all .1s linear;
	transition:all .1s linear
}
sup {
	top:-.5em
}
sub {
	bottom:-.25em
}
img {
	height:auto;
	border:0;
	vertical-align:middle;
	-ms-interpolation-mode:bicubic;
	margin:0
}
img.framed {
	border:4px solid rgba(0,0,0,.1)
}
button, input, select, textarea {
	margin:0;
	vertical-align:middle;
	font-size:100%
}
button, input {
	line-height:normal;
*overflow:visible
}
button::-moz-focus-inner, input::-moz-focus-inner {
padding:0;
border:0
}
button, input[type=button], input[type=reset], input[type=submit] {
	cursor:pointer;
	-webkit-appearance:button
}
input[type=search] {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-appearance:textfield
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
textarea {
	vertical-align:top
}
a {
	color:#606060
}
a:hover {
	color:#21c2f8
}
ul {
	list-style:none
}
ol {
	margin-left:30px!important
}
ol li {
	margin-bottom:10px
}
blockquote, q {
	quotes:none
}
blockquote:after, blockquote:before, q:after, q:before {
	content:none
}
table {
	border-spacing:0;
	border-collapse:collapse
}
strong, th, thead td {
	font-weight:700
}
cite, dfn, em {
	font-style:italic
}
code, pre {
	display:block;
	white-space:pre;
	font-size:12px;
	-ms-word-wrap:break-word;
	word-wrap:break-word
}
del {
	color:#666;
	text-decoration:line-through
}
dfn, ins {
	border-bottom:1px solid #ccc
}
small, sub, sup {
	font-size:85%
}
abbr, acronym {
	text-transform:uppercase;
	letter-spacing:.1em
}
a abbr, a acronym {
	border:none
}
abbr[title], acronym[title], dfn[title] {
	border-bottom:1px dotted #ccc;
	cursor:help
}
sup {
	vertical-align:super
}
sub {
	vertical-align:sub
}
blockquote, code, dl, fieldset, ol, p, pre, table, ul {
	margin-bottom:20px
}
a {
	text-decoration:none
}
a:active, a:focus, a:hover, a:link, a:visited {
	outline:0 none;
	text-decoration:none
}
.clearboth {
	display:block;
	visibility:hidden;
	clear:both;
	overflow:hidden;
	width:0;
	height:0
}
.clearboth:after {
	display:block;
	visibility:hidden;
	clear:both;
	width:0;
	height:0;
	content:' ';
	font-size:0;
	line-height:0
}
* html .clearboth {
	height:1%
}
input[type=email], input[type=password], input[type=text], select, textarea {
	outline:0;
	border:none;
	font-size:inherit
}
input, select {
	cursor:pointer
}
input[type=email], input[type=password], input[type=text] {
	cursor:text
}
textarea {
	overflow:auto
}
input[type=email], input[type=password], input[type=text], textarea {
	font-size:12px;
	color:#aeaeae;
	padding:6px 8px;
	background-color:#f6f6f6;
	background-color:rgba(0,0,0,.03);
	border:1px solid rgba(0,0,0,.1);
	-webkit-box-shadow:inset 0 2px 3px rgba(0,0,0,.08);
	-moz-box-shadow:inset 0 2px 3px rgba(0,0,0,.08);
	box-shadow:inset 0 2px 3px rgba(0,0,0,.08);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	outline:0;
	margin-bottom:3px
}
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, textarea:focus {
	color:#777;
	border-color:rgba(0,0,0,.25)
}
select {
	padding:2px
}
option {
	padding:0 4px
}
h1, h2, h3, h4, h5, h6 {
	margin:0 0 .8em;
	font-weight:400;
	line-height:1.2em;
	color:#121212;
	font-family:'Open Sans'
}
h1.secondary, h2.secondary, h3.secondary, h4.secondary, h5.secondary, h6.secondary {
	color:#333
}
h1.normal, h2.normal, h3.normal, h4.normal, h5.normal, h6.normal {
	font-weight:400
}
h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold {
	font-weight:500
}
h1.bolder, h2.bolder, h3.bolder, h4.bolder, h5.bolder, h6.bolder {
	font-weight:700
}
h1 {
	font-size:36px;
	margin-bottom:20px;
	font-weight:500
}
h2 {
	font-size:32px;
	margin-bottom:20px
}
h3 {
	font-size:30px;
	margin-bottom:22px
}
h4 {
	font-size:26px;
	margin-bottom:15px
}
h5 {
	font-size:18px;
	margin-bottom:18px;
	font-weight:700
}
h6 {
	font-size:14px;
	margin-bottom:14px;
	font-weight:500
}
iframe, img {
	max-width:100%
}
iframe {
	width:100%
}
body {
	font-size:13px;
	line-height:24px;
	color:#222;
	font-family:'Open Sans';
	font-weight:400;
	border-top:solid 3px #21c2f8;
	background:#fff
}
[class*=col-] {
float:left;
padding-right:50px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box
}
[class*=col-]:last-of-type {
	padding-right:0!important
}
#contents [class*=col-] {
	padding-right:20px;
	margin-bottom:20px
}
.container {
	max-width:80%;
	min-width:640px;
	margin:0 auto!important
}
#main-wrap {
	width:100%
}
#main-wrap:after {
	content:"";
	display:table;
	clear:both
}
a.read-more {
	padding:9px 20px!important;
	font-size:11px;
	margin-top:25px
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
#respond:after, #respond:before, .clearfix:after, .clearfix:before, .container-wide:after, .container-wide:before, .container:after, .container:before, .row:after, .row:before, .small-container:before, .small-contaner:after, .spacer:after, .spacer:before, .tagcloud:after, .tagcloud:before, ul.cart_list.product_list_widget li:after, ul.cart_list.product_list_widget li:before {
	content:'\0020';
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
#respond:after, .clearfix:after, .container-wide:after, .container:after, .row:after, .small-contaner:after, .spacer:after, .tagcloud:after, ul.cart_list.product_list_widget li:after {
	clear:both
}
#respond, .clearfix, .container, .container-wide, .row, .small-contaner, .spacer, .tagcloud, ul.cart_list.product_list_widget li {
	zoom:1;
	-webkit-perspective:0
}
.col-12 {
	width:100%;
	padding-right:0!important
}
.col-4 {
	width:33.33%
}
.col-8 {
	width:66.66%
}
.col-3 {
	width:25%
}
.col-9 {
	width:75%
}
.col-5 {
	width:20%
}
.col-6 {
	width:50%
}
#header-wrapper {
	border-bottom:solid 1px #f1f1f1
}
#footer-wrapper {
	border-top:solid 1px #f1f1f1
}
#footer, #rb-header {
	text-align:center;
	padding:30px 0
}
#footer {
	padding-bottom:130px
}
#rd-header h1 {
	margin-bottom:10px;
	margin-top:40px
}
#rd-header .links {
	margin-top:40px
}
#logo {
	display:block;
	margin-bottom:20px;
	margin-top:20px
}
#logo img {
	max-height:50px;
	margin:0
}
#main-content-wrapper {
	background:#fff
}
#main-content {
	padding-top:100px;
	padding-bottom:60px
}
.aligncenter {
	text-align:center;
	display:block
}
hr {
	width:70px;
	display:block;
	text-align:center;
	margin:0 auto!important;
	border:none;
	border-top:solid 1px #e1e1e1
}
.spacer {
	display:block;
	height:60px;
	width:100%
}
.spacer.sp-10 {
	height:10px
}
.spacer.sp-15 {
	height:20px!important
}
.spacer.sp-30 {
	height:30px
}
.spacer.sp-40 {
	height:40px
}
.spacer.sp-50 {
	height:50px
}
ul.nav-menu {
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	margin-top:40px;
	text-overflow:ellipsis
}
ul.nav-menu li a {
	padding:5px 20px;
	color:#333;
	text-overflow:ellipsis
}
ul.nav-menu li:last-child a {
	border-bottom:none
}
ul.nav-menu li, ul.nav-menu li a {
	display:block
}
ul.nav-menu li {
	border:1px solid #efefef;
	margin-bottom:-1px;
	color:#333;
	text-overflow:ellipsis;
	width:100%;
	position:relative
}
ul.nav-menu li a {
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	-ms-transition:all .1s linear;
	transition:all .1s linear
}
ul.nav-menu li.title, ul.nav-menu li:hover {
	background:#f9f9f9
}
ul.nav-menu li a:hover {
	color:#21c2f8
}
#contents h3 {
	border-bottom:1px solid #e1e1e1;
	padding-bottom:10px;
	margin-bottom:40px;
	margin-top:-5px
}
.links a, footer .links a {
	display:inline-block;
	padding:0 10px;
	color:#666;
	text-decoration:none;
	border-left:1px solid #e1e1e1
}
.links a:hover, footer .links a:hover {
	color:#21c2f8
}
.links a:first-child {
	padding-left:0;
	border-left:0
}
#main-wrap li.section {
	margin-top:15px;
	display:block
}
#main-wrap li.title a {
	font-weight:600;
	color:#111
}
ul.nav-menu li.ui-tabs-active a {
	background:#21c2f8;
	color:#fff!important
}
.color-focus {
	color:#21c2f8;
	border-bottom-color:#21c2f8!important
}
#contents, #contents p {
	font-size:14px!important;
	line-height:24px
}
#contents>div {
	display:none;
	padding-top:40px
}
h5.light {
	font-weight:300;
	color:#21c2f8;
	position:relative;
	margin-bottom:5px;
}
h5.light a{
	
	color:#21c2f8 !important;
}
#copyright {
	color:#777;
	font-size:12px;
	margin-top:10px
}
#contents a {
	
	color:#D15028;
	border-bottom:dotted 1px #424242;
}
a strong {
color: #D15028!important;
}
.rd-notif-box {
	height:auto;
	line-height:20px;
	overflow:hidden;
	padding:13px 20px;
	margin-bottom:20px;
	font-weight:400;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	clear:both;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	border:0;
	margin-top:30px;
	font-size:13px;
	text-align:center;
	background:#eee;
	color:#666
}
.rd-notif-box p {
	margin:0
}
.rd-notif-box p i {
	vertical-align:-1px;
	margin-right:10px;
	color:rgba(0,0,0,.5)
}
.warning {
	background-color:#ffd56c;
	color:#222
}
.success {
	background-color:#2ecc71;
	color:#FFF
}
.rd-notif-box.error p i, .rd-notif-box.info p i, .rd-notif-box.success p i {
	color:rgba(255,255,255,.5)
}
.rd-notif-box.error {
	background-color:#c0392b;
	color:#FFF
}
.rd-notif-box.info {
	background-color:#48acef;
	color:#FFF
}
.rd-notif-box i.icon-lightbulb {
	font-size:1.3em
}
.rd-notif-box a {
	color:#000;
	border-bottom-color:#000
}
p.steps {  
ã€€line-height: 24px!important;
  color: #666;
  border-top: solid 1px #eee;
  margin-top: 5px;
  margin-bottom: 20px!important; 
  padding-top: 30px;
  padding-bottom: 30px;
}
p.steps a {
	color:#000
}
#contents h4 {
	color:#000;
	font-weight:400
}
.alignright {
	text-align:right
}
#badge-image {
	position:relative;
	top:0;
	max-width:160px
}
.top-30 {
	margin-top:30px
}
.top-40 {
	margin-top:40px
}
.top-50 {
	margin-top:50px
}
.langde {
	display:block;
	margin-left:13px;
	margin-top:20px
}
span.code {
	display:inline-block;
	width:auto;
	background:#eee;
	color:#000;
	font-size:14px;
	border:none;
	padding:0 5px;
	white-space:pre;
	-ms-word-wrap:break-word;
	word-wrap:break-word;
	font-family:monospace
}
.fitVids {
	display:block;
	width:100%;
	margin-bottom:50px;
	position:relative
}
.fitVids iframe {
	display:block;
	width:100%
}
img {
	cursor:pointer
}
.step_img {
  display: block;
  clear: both;
  padding-top: 15px;
  padding: 10px;
  border: 1px solid #ebebeb;
  margin: 20px 0;
  background: #f7f7f7;
}

h4.special {
	margin-top:60px;
	padding-top:10px;
	display:block;
	border-bottom:solid 1px #e1e1e1;
	padding-bottom:6px
}
h5.special {
	margin-top:40px;
	top:0;
	font-size:16px;
	margin-bottom:0;
	padding-bottom:10px;
	color:#000!important
}
code {
	background:#f6f6f6;
	display:block;
	padding:15px 20px;
	border:dashed 2px #eee;
	color:#000;
	font-size:13px
}
strong.code {
	background:#f4f4f4;
	padding:2px 6px;
	font-size:12px;
	font-family:monospace;
	letter-spacing:1px;
	font-weight:400!important;
	color:#000;
	margin-bottom:5px;
	display:inline-block
}

.modules_ctn {
  overflow: auto;
  padding-top: 1px;
  padding-left: 1px;
}.modules_ctn a {
  text-align: center;
  display: block;
  float: left;
  width: 180px;
  border: 1px solid rgba(44, 62, 80, 0.16) !important;
  color: rgba(44, 62, 80, 0.6)!important;
  line-height: 40px;
  margin: -1px 0 0 -1px;
  background: rgb(247, 247, 247);
}#to_top {
  display: block;
  position: fixed;
  text-align: center;
  line-height: 12px!important;
  right: 30px;
  bottom: -30px;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  z-index: 10000;
  height: 29px;
  width: 29px;
  background-color: rgba(0,0,0,0.4);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
}#to_top:hover {
  background: #21c2f8;
}
#to_top i {
  font-family: "FontAwesome";
  line-height: 29px!important;
  width: 29px!important;
  height: 29px!important;
  font-size: 14px!important;
  top: 0px!important;
  left: 0px!important;
  text-align: center!important;
  background-color: transparent!important;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.1.0');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
  
  

}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="fa-"]{ 
	font-family: 'Fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.fa-angle-up:before {
  content: "\f106";
}